
.bordertest{
  border-style: inset;
    border-width: 6px;
    border-color:yellow;
    box-shadow: 5px 10px 10px #000;

}
.titulostest{
 text-align: center;
 font-family: "Arial";
    font-size: 60px;
    font-style: oblique;
    color:white;
    text-shadow: 5px 5px 5px #000000;
  }

.subtitulostest{
 text-align: center;
 font-family: "Arial";
    font-size: 40px;
    font-style: oblique;
    color:brown;
    
    text-shadow: 2px 2px 2px #7E7E7E;
    

}

.textotest{
    text-align:justify;
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
   
    
    
}

.textocentertest{
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
}

.margentest{
margin-bottom: auto;
margin-top: auto;
margin-left: 255px;
    margin-right: 255px;
}
.textoMargentest{
margin-bottom: 10px;
margin-top: 20px;
margin-left: 50px;
    margin-right: 50px;
}
 

.fondomargentest{    /*fondo de los cuadros con contenido*/
       
        background-repeat: repeat;
     background-color: white;
   
}


.texturainstrucciones{
    background-repeat:inherit;
     width: 100%;
  
 background-color: #4582c3;
    
    
}
.texturatest{
    background-repeat:inherit;
     width: 100%;
  
 background-image:url(./img/texturas/fondotest.png);
    
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: inherit;
    text-decoration: none;
    font-family: "Arial";
    font-size: 15px;
}

li a:hover {
    background-color:firebrick;
       
}

.style { 
  text-align: center;
}
div.cae_texto img{
    width:200px;
    height:200px;
    float:left;
    margin: 10px 15px;
    
}
.pietest{
height: 50px;
background-color:firebrick;
color: #fff;
text-align: center;
clear: both;

}
.borderTablatest{
   border-color: #A50303;
    
    border-left-style: groove;
    border-left-width: 20px;
    border-top-style: groove;
    border-top-width: 5px;
   
    
    border-right-style: groove;
    border-right-width: 20px;
}
*{
    margin: 0px;
}
