.border{
  border-style: inset;
    border-width: 4px;
    border-color:#6890aa;
    background-image: url(./img/texturas/soft-grid.gif); /*fondo a los cuadros interiores*/
    box-shadow: 5px 10px 10px #000;

}

.titulos{
 text-align: center;
 font-family: "Arial";
    font-size: 60px;
    font-style: oblique;
    color:white;
    text-shadow: 5px 5px 5px #000000;
  }

.subtitulos{
 text-align: center;
 font-family: "Arial";
    font-size: 40px;
    font-style: oblique;
    color:brown;
    
    text-shadow: 2px 2px 2px #7E7E7E;
    

}
.desc{
     text-align: center;
    font-family: "Arial";
    font-size: 18px;
    font-style: italic;
}
.texto{
    text-align:justify;
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
   
    
    
}

.textocenter{
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
}

.margen{
margin-bottom: auto;
margin-top: auto;
margin-left: 255px;
    margin-right: 255px;
}
.textoMargen{
margin-bottom: 10px;
margin-top: 20px;
margin-left: 50px;
    margin-right: 50px;
}
   border-right-color: 50px;
}
.fondomargen{    /*fondo de los cuadros con contenido*/
       
        background-repeat: repeat;
         opacity: 0.5;
   
}


.textura{
    background-repeat:inherit;
     width: 100%;
  
    background-image: url(./img/texturas/diamond-zag.png);
    
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: inherit;
    text-decoration: none;
    font-family: "Arial";
    font-size: 15px;
}

li a:hover {
    background-color:firebrick;
       
}

.style { 
  text-align: center;
}
div.cae_texto img{
    width:200px;
    height:200px;
    float:left;
    margin: 10px 15px;
}
.pie{
height: 50px;
background-color:firebrick;
color: #fff;
text-align: center;
clear: both;

}
.borderTabla{
   border-color: #A50303;
    
    border-left-style: groove;
    border-left-width: 20px;
    
    
    border-right-style: groove;
    border-right-width: 20px;
}
