.border{
  border-style: inset;
    border-width: 4px;
    background-color: #CACACA;
   border-color:blue;
}

.titulos{
 text-align: center;
 font-family: "Arial";
    font-size: 60px;
    font-style: oblique;
    color: #00043A;
    text-shadow: 5px 5px 5px #B8B8B8;
    

}
.desc{
     text-align: center;
    font-family: "Arial";
    font-size: 18px;
    font-style: italic;
}
.texto{
    text-align:justify;
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
   
    
    
}

.textocenter{
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
}

.margen{
margin-bottom: auto;
margin-top: auto;
margin-left: 255px;
    margin-right: 255px;
}
.textoMargen{
margin-bottom: 10px;
margin-top: 20px;
margin-left: 50px;
    margin-right: 50px;
}
.fondomargen{
        background-image:url(./img/texturas/6841.jpg);
        background-repeat: repeat;
   
}


.textura{
    background-repeat:inherit;
     width: 100%;
  
    background-image: url(./img/texturas/texturarombo.jpg);
    
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial";
    font-size: 15px;
}

li a:hover {
    background-color:firebrick;
        /*#747474*/
}

.style { 
  text-align: center;
}
div.cae_texto img{
    width:200px;
    height:200px;
    float:left;
    margin: 0 15px;
}
